.mosquito1{
    width: 50px;
    height: 50px;
}

.mosquito2{
    width: 70px;
    height: 70px;
}

.mosquito3{
    width: 90px;
    height: 90px;
}

.ladoA{
    transform: scaleX(1); /* Escala passando o parametro 1, nada mais é do que o parametro original da imagem */
}

.ladoB{
    transform: scaleX(-1); /*Parametro passado sendo -1, ocorrerá a inversao da imagem */
}